.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    border: rgb(30, 43, 30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: rgb(173, 191, 173);
    background: linear-gradient(90deg, rgb(173, 191, 173) 0%, rgb(83, 88, 83) 100%);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: rgb(173, 191, 173);
    background: linear-gradient(to right, rgba(133,144,134,1), rgba(133,144,134,1))
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
