.carouselsize{
    height: 400px;
}
.navbar-brand{
    margin-left: 5%;
}
.navbar-nav{
    margin-left: 78%;

   
}
.nav-link{
  outline-color: transparent;
}
.btn.btn-success{
   background-color: transparent;
   color: black;
   
}
#home{
    margin-top: 12%;

}
.md-social-btn .mbsc-ic {
    float: left;
}