.carouselsize{
    height: 200px;
}
.navbar-nav{
    margin-left: 78%;
   
}
.nav-link{
  outline-color: transparent;
}
.btn.btn-success{
   background-color: transparent;
   color: black;
   
}
#home{
    margin-top: 12%;
}